--extra-index-url https://download.pytorch.org/whl/cu118

jupyter
matplotlib
notebook
numpy
optuna
optuna-dashboard
torch
torchvision
cryptography
pandas
scikit-learn
spacy[cuda11x]
tqdm
transformers[torch]
ood_detectors
tensorflow