--extra-index-url https://download.pytorch.org/whl/cu118

accelerate 
bitsandbytes 
cryptography
datasets 
einops 
evaluate 
jupyter
matplotlib
notebook
numpy
ood_detectors
optuna
optuna-dashboard
pandas
peft 
rouge_score
scikit-learn
scipy 
spacy[cuda11x]
torch
torchvision
tqdm
transformers[torch]
trl 
evaluate